<div class="t_nav">

  <div class="left_box">
    <a href="#!page1" class="logo"><img src="danclogo_black.png"></a>
  </div>

  <div class="right_box">
    <a href="#" class="t_nav_text shake">sign up</a>
    <a href="#" class="t_nav_text shake">sign in</a>
  </div>

</div>