<div class="multiple-item">
    <a href="https://www.google.com/"><img src="/google.png" class="site_image"></a>
    <div><img src="/dancview.png" alt=""></div>
    <div><img src="/tech.png" alt=""></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
</div>