<div id="container">
 
  <section id="stage1" class="stageBase">
  <div class="fieldWrap">
  <h1>創造を送像しろ。</h1>
  <p>ここは1ページ目</p>
  </div><!--/.fieldWrap -->
  </section>
  
  <section id="stage2" class="stageBase">
  <div class="fieldWrap">
  <p>ここは2ページ目</p>
  </div><!--/.fieldWrap -->
  </section>
  
  <section id="stage3" class="stageBase">
  <div class="fieldWrap">
  <p>ここは3ページ目</p>
  </div><!--/.fieldWrap -->
  </section>

</div><!--/#container-->