<div id="container">
 
  <section id="stage1" class="stageBase">
      <div class="bg">
      <div class="fieldWrap">
      <%= render partial: 'header' %>

      <%= render partial: 'slide' %>

      <%= render partial: 'arrow' %>

    </div><!--/.fieldWrap -->
  </section>
  
  <section id="stage2" class="stageBase">
    <div class="fieldWrap">

      <%= render partial: 'header' %>
      <div class="what-flex">
        
        <div  class="whatUpper">
          <h2 class="whatUpper__title">
          #What's danc ??
          </h2>
          <p class="whatUpper__text">
          <span>danc</span>とは、<span>d</span>eploy,<span>a</span>ll,<span>n</span>ew,<span>c</span>reate.
          の略で、全ての創造（クリエイト）を発信しよう！という意味です。</p>
          <p class="whatUpper__text">せっかく生み出した創造でも、誰も知らなかったらもったいないですよね！？</p>
          <p class="whatUpper__text">dancはそんなクリエイターの為の情報発信サイトです。webサービス、イラスト、写真、ハンドメイドなど<span>何か作ったらdancへ投稿</span>して全世界に発信しましょう！</p>
          <div class="whatUpper__info">
            <div class="whatUpper__info__panel">
            <h3>作ったものをみんなに知ってほしい！</h3>
            <h3>新規公開サービスの集客をあげたい！</h3>
            <img src="/create.png">
          </div>
          <div class="whatUpper__info__arrow">
            <p>発信</p>
            <i class="fas fa-exchange-alt"></i>
            <p>反応</p>
          </div>
          <div class="whatUpper__info__panel">
            <h3>そんなときは</h3>
            <h3>dancでございます。</h3>
            <img src="/danc.png">
          </div>
          <div class="whatUpper__info__arrow">
            <p>提供</p>
            <i class="fas fa-exchange-alt"></i>
            <p>発見</p>
          </div>
          <div class="whatUpper__info__panel">
            <h3>最新のサービスが知りたい！</h3>
            <h3>新しいものを知りたい！</h3>
            <img src="/uum.png">
          </div>
        </div>
        </div>

        <div class="what-under">
          <div class="what-under__left">
            <div class="what-under__content__left">
              <h3 class="whatUpper__title">#creater</h3>
                <p class="what-under__text">あなたの創造を全世界に発信しよう！</p>
                <p class="what-under__text">danc会員があなたの創造を待っています！</p>
                <p class="what-under__text">せっかく0から1の産む努力をしたのなら</p>
                <p class="what-under__text">発信してより多くの人に知ってもらおう！</p>
                <p class="what-under__text">右のボタンから今すぐLet's danc!!</p>
            </div>
            <div class="what-under__content__right">
              <a href="#" class="btn-push">Let's<img src="/danclogo.png"></a>
            </div>
          </div>
          <div class="what-under__right">
            <div class="what-under__content__left">
              <h3 class="whatUpper__title">#customer</h3>
                <p class="what-under__text">あんなサービスあったらいいのに</p>
                <p class="what-under__text">こんな感じのイラストが見たい！</p>
                <p class="what-under__text">みんなどんな写真を撮ってるんだろう？</p>
                <p class="what-under__text">新しく生まれた創造の全てがここにある！</p>
                <p class="what-under__text">右のボタンから発見しよう。Find danc!!</p>
            </div>
            <div>
            <a href="posts" class="btn-push">Find<img src="/danclogo.png"></a>
            </div>
          </div>
        </div>
      </div>

    </div><!--/.fieldWrap -->
  </section>

</div><!--/#container-->