.create{
  width: 100%;
  .text{
    width: 100%;
  }
  .text_box{
    height: 20px;
    width: 80%;
    font-size: 1.8rem;
  }
  .text_box_area{
    height: 30vh;
    width: 80%;
    font-size: 1.5rem;
  }
}