.index_wrapper {
  width:100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;
}

.index {
  width: 74%;
  margin: 0 auto;
  &__upper{
    width: 100%;
    background-color: #fff;
    box-shadow: #707070 5px 5px;
    padding: 1%;
    text-align: center;
    &__title{
      font-size: 4rem;
    }
    &__contents{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      align-items: center;
    }
  }
}

.search__box{
  font-size: 1.5rem;
  margin-left: 5%;
  border: 1px solid black;
  width: 300px;
  height: 30px;
  padding: 0 2%;
}