.index_wrapper {
  width:100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;
  overflow: auto;
}
.index {
  width: 74%;
  margin: 0 auto;
  &__upper{
    width: 100%;
    background-color: #fff;
    box-shadow: #707070 5px 5px;
    padding: 1%;
    text-align: center;
    &__title{
      font-size: 4rem;
    }
    &__contents{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      &__text{
        font-size: 2rem;
        font-weight: bold;
      }
      img{
        margin-left: 2%;
        width: 5%;
        height: 5%;
        cursor: default;
      }
    }
  }
}

.search__box{
  font-size: 1.5rem;
  margin-left: 5%;
  border: 1px solid black;
  width: 300px;
  height: 30px;
  padding: 0 2%;
}

.index__main{
  display: flex;
  flex-direction: column;
  &__contents{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: #707070 5px 5px;
    padding: 1%;
    margin: 1% 0;
    a:hover{
      color: red;
      transition: 300ms;
    }
   img{
      max-width: 450px;
      max-height: 250px;
    }
    &__text{
      background-color: #fff;
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 0 0 auto;
      font-family: sans-serif;
      &__title{
        font-size: 2rem;
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-weight: bold;
        }
      &__description{
        font-family: sans-serif;
        font-size: 1.2rem;
        overflow: auto;
      }
    }
    &__user{
      width: 10%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      text-align: end;
      font-family: sans-serif;
      &__name{
        font-family: sans-serif;
      }
      &__date{
        font-size: 1.2rem;
        font-family: sans-serif;
      }
    }
  
  }
}