◆CSS
body {
    position: relative;
    overflow: hidden;
    visibility: hidden;
}
 
/* #container
--------------------------- */
#container {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
 
/* .stageBase
--------------------------- */
.stageBase {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.stageBase .fieldWrap {
    padding: 100px 0 0 0;
    text-align: center;
}
#stage1 {background:#fff;}
#stage2 {background:#eee;}
#stage3 {background:#ddd;}
#stage4 {background:#ccc;}
#stage5 {background:#bbb;}
 
/* .stageSlide
--------------------------- */
.stageSlide {
    position: relative;
    overflow: hidden;
    visibility: hidden;
}
.stageSlide .slideWrap {
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}
.stageSlide .slideWrap:before,
.stageSlide .slideWrap:after {
    content: " ";
    display: table;
}
.stageSlide .slideWrap:after {clear: both;}
.stageSlide .slideWrap {*zoom: 1;}
 
.stageSlide .slidePanel {
    float: left;
    overflow: hidden;
}
 
.stageSlide .sdPrev,
.stageSlide .sdNext {
    margin-top: -25px;
    top: 50%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 99;
}
.stageSlide .sdPrev {
    left: 80px;
    background: transparent url(../img/slide_prev.png) no-repeat left top;
}
.stageSlide .sdNext {
    right: 80px;
    background: transparent url(../img/slide_next.png) no-repeat left top;
}
 
.stageSlide .slideNav {
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 15px;
    text-align: center;
    position: absolute;
    z-index: 98;
}
.stageSlide .slideNav a {
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent url(../img/nav.png) no-repeat center center;
    display: inline-block;
    overflow: hidden;
}
.stageSlide .slideNav a.pnActive {
    background: transparent url(../img/nav_acv.png) no-repeat center center;
}
 
/* #pageNav
--------------------------- */
#pageNav {
    top: 0;
    right: 25px;
    width: 15px;
    text-align: center;
    position: fixed;
    z-index: 2;
}
#pageNav ul {
    width: 15px;
    display: block;
}
#pageNav ul li {
    padding-bottom: 5px;
    width: 15px;
    height: 15px;
    display: block;
    overflow: hidden;
}
#pageNav ul li a {
    width: 15px;
    height: 15px;
    background: transparent url(../img/nav.png) no-repeat center center;
    display: block;
}
#pageNav ul li.activeStage a {
    background: transparent url(../img/nav_acv.png) no-repeat center center;
}
 
/* #pageDown
--------------------------- */
#pageDown {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
    overflow: hidden;
    z-index: 3;
}
#pageDown a {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: transparent url(../img/next_arw.png) no-repeat center center;
    display: block;
}